header {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.blog_title {
    font-family: 'Impact', 'Charcoal', sans-serif;
    font-size: 80px;
    text-align: center;
    opacity:0.3;
    color:white;
    text-transform: uppercase;
}

body {
    background-image: url("road.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}

ul.main_nav{
    font-family: 'LatoBold', 'Helvetica', arial;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    background-color: #333;
    text-align:center;
    overflow: hidden;
}

ul.main_nav li{
    display:inline;
    letter-spacing: 2px;
    font-size: 10px;
    border: none;

}

ul.main_nav a{
    display:inline-block;
    padding: 20px 22px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

ul.main_nav li a:hover{
	background: #5c5c54;
}

.slide {
    position: relative;
    color: white;
    font-family: 'LatoBold', 'Helvetica', arial;
    margin: 0;
}

.slide span {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #949293;
    opacity: 0.8
}

.slide p {
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    text-align: left;

}

.slide span h1 {
    text-transform: uppercase;
    color: white;
    text-size: 24px;
}

.wrapper{
	width: 1800px;
	height: auto;
	margin: 0 auto;
}




/*MAIN*/
.main{
	position: relative;
	/*border-left: 10px white solid;*/
	/*border-right: 10px white solid;*/
	height: auto;
	overflow: hidden;
}

.main article{
	margin: 80px 0;
	overflow: hidden;
}


.main .article_image,
.main .post{
	float: left;
}


/*SLIDER*/
div.post {
    background-color: #333;
    height: auto;
}

div.post h1.title {

    font-family: 'LatoBold', 'Helvetica', arial;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;

}


div.post a.read_more {
	white-space: pre;
	font-family: 'LatoRegular', 'Helvetica', arial;
	display: inline-block;
	padding: 10px 30px 13px 30px;
	background: #7f7f7f;
	border: 2px #c2c2c2 solid;
	color: white;
	text-decoration: none;
	margin-top: 14px;
    float: right;
}

object {
    width: 80%;

}
/*  pagination  */
.pagination{
	display: block;
	width: 100%;
	padding: 30px 0;
	border-top: 1px #e1e0e0 solid;
	border-bottom: 1px #e1e0e0 solid;
	overflow: hidden;
}

.pagination a{
	color: #818181;
}

.previous,
.next{
	text-decoration: none;
	margin: 0 30px;
	font-family: 'LatoBold', 'Helvetica', arial;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.previous{
	float: left;
}

.next{
	float: right;
}

.previous i,
.next i{
	width: 15px;
	height: 7px;
	display: inline-block;
	margin-bottom: 3px;
	background: url('../img/pagination.png') no-repeat;
}

.previous i{
	background-position: 0 0;
	margin-right: 10px;
}

.next i{
	background-position: -16px 0;
	margin-left: 10px;
}

.previous:hover,
.next:hover{
	color: #fffdf8;
}
.previous:hover i,
.next:hover i{
	background: url('../img/pagination_hover.png') no-repeat;
}

.previous:hover i{
	background-position: 0px 0;
}

.next:hover i{
	background-position: -16px 0;
}

